<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div id="hero">
    <img id="heroImg" src="images/vehicles/delorean.jpg" alt="">
    <div id="heroBox">
        <b>DMC Delorean</b><br>
        3 Cup holders<br>
        Superman doors<br>
        Fuzzy dice!<br>
        <img src="images/site/own_today.png" alt="Own today"/>
    </div>
</div>
<br>
<br>
<div id="content">
    <h2 id="reviewTitle">DMC Delorean Reviews</h2>
    <ul id="reviewContent">
        <li>"So fast it's almost like traveling in time."<br>(4/5)</li>
        <li>"Coolest ride on the road."<br>(4/5)</li>
        <li>"I'm feeling McFly!"<br>(5/5)</li>
        <li>"The most futurist ride of our day."<br>(4.5/5)</li>
        <li>"80's living and I love it!"<br>(4/5)</li>
    </ul>
    <h2 id="upgradeTitle">Delorean Upgrades</h2>
    <div class="upgrades">
        <div class="upgrade">
            <div>
                <img src="images/upgrades/flux-cap.png" alt="flux capacitator">
            </div>
            <a href="">Flux Capacitator</a>
        </div>
        <div class="upgrade">
            <div>
                <img src="images/upgrades/flame.jpg" alt="flame decals">
            </div>
            <a href="">Flame Decals</a>
        </div>
    </div>
    <div class="upgrades">
        <div class="upgrade">
            <div>
                <img src="images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
            </div>
            <a href="">Bumper Stickers</a>
        </div>
        <div class="upgrade">
            <div>
                <img src="images/upgrades/hub-cap.jpg" alt="hub caps">
            </div>
            <a href="">Hub Caps</a>
        </div>
    </div>
</div>